@import 'fonts'; 
// @import 'variables';

/*==============================================================
	Common Styles Initials
==============================================================*/

/*==============================================================
	Common Styles End
==============================================================*/
/*==============================================================
	Global Styles Start
==============================================================*/
.app-logo {
	img {
		height: 70px !important;
	}
	.logo-text {
		margin-left: 10px;
		.top-text {
			font-family: 'Fredoka One', cursive;
			font-size: 40px;
			font-weight: 100;
			color: #0092DE;
			margin-bottom: -20px;
		}
		.bot-text {
			font-family: 'Poiret One', cursive;
			font-size: 26px;
			text-align: center;
		}
	}
}
.app-logo-alt {
	img {
		height: 40px !important;
	}
}

.image-preview {
	width: 100%;
	min-height: 200px;
	cursor: pointer;
	border: 2px solid #dddddd;
	border-radius: 10px;
	margin-bottom: 15px;

	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: #cccccc;
	transition: background-color .2s;

	&:hover {
		background-color: #f0f0f0;
		color: #cccccc;
	}
	
	.ip-image {
		display: none;
		width: 100%;
	}
}
/*==============================================================
	Global Styles End
==============================================================*/
// MOBILE
@media (max-width: 992px) {
  @import 'mobile';  
}